:root {
	/* --primary-light: #e5e7eb; */
	--primary-light: #fefefe;
	--primary-dark: #1f2937;
}
html,
body {
	background-color: #81d8d0 !important;
}
.container {
	min-height: 100vh;
}
/* Settings */
.settings--container {
	background-color: var(--primary-light);
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.color--picker {
	background-color: var(--primary-light);
	height: 5rem;
	width: 5rem;
	border: none;
	border-radius: 50px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
input[type="color"]::-webkit-color-swatch {
	border-radius: 50px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button {
	height: 3rem;
	width: 8rem;
	background-color: var(--primary-light);
	border: 1px solid var(--primary-dark);
	border-radius: 0.5rem !important;
}
button.active {
	background-color: var(--primary-dark);
	color: var(--primary-light);
}
.size--input {
	background-color: var(--primary-dark);
}
input[type="range"] {
	-webkit-appearance: none;
	background-color: var(--primary-light);
}

input[type="range"]::-webkit-slider-runnable-track {
	border: 1px solid var(--primary-dark);
	border-radius: 0.5rem;
	background: var(--secondary-light);
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
	background: var(--primary-dark);
}
.grid--header {
	color: var(--primary-light);
	font-style: italic;
	font-weight: bolder;
	text-shadow: rgba(0, 0, 0, 0.24) 0px 10px 8px;
}
.grid {
	display: grid;
	height: 50vh;
	width: 50vh;
	background-color: #fefefe;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.grid-box {
}
.border-top-left {
	border-top: 1px solid rgb(156, 156, 156);
	border-left: 1px solid rgb(156, 156, 156);
}

.border-right {
	border-right: 1px solid rgb(156, 156, 156);
}

.border-bottom {
	border-bottom: 1px solid rgb(156, 156, 156);
}
